<template>
  <v-container class="fill-height align-content-center">
    <v-dialog v-model="dialog" scrollable max-width="500px">
      <v-card>
        <v-card-title>Resultados</v-card-title>
        <v-divider></v-divider>
        <v-card-text style="height: 300px;">
          <v-list-item three-line
            v-for="(row, index) in result"
            :key="index"
            :disabled="result.length - 1 !== index"
          >
            <v-list-item-content>
              <v-list-item-title>Tiempo:
                <span class="font-weight-bold">{{ row.time }}</span>
              </v-list-item-title>
              <v-radio-group dense v-model="row.saque" class="my-0">
                <v-list-item-subtitle class="d-flex align-center">
                  <v-radio
                    class="d-inline-block mr-1 my-0"
                    color="info"
                    :value="1"
                  ></v-radio>
                  <span class="grey lighten-3 d-inline-block py-1 px-4"
                    style="width:100px">Team A</span>
                  <span class="grey darken-3 white--text d-inline-block py-1 px-4 ">
                    {{ row.setA }}</span>
                  <span class="black white--text d-inline-block py-1 px-4 ">
                    {{ row.resultA }}</span>
                  <v-btn v-if="result.length - 1 === index" :disabled="row.saque === 2"
                    @click="row.resultA += 1;"
                    class="ml-2" icon color="info">
                    <v-icon>mdi-plus</v-icon>
                  </v-btn>
                  <v-btn v-if="result.length - 1 === index" :disabled="row.saque === 2"
                    @click="row.resultA -= 1;"
                    class="ml-2" icon color="error">
                    <v-icon>mdi-minus</v-icon>
                  </v-btn>
                </v-list-item-subtitle>
                <v-list-item-subtitle class="d-flex align-center">
                  <v-radio
                    class="d-inline-block mr-1 my-0"
                    color="info"
                    :value="2"
                  ></v-radio>
                  <span class="grey lighten-3 d-inline-block py-1 px-4"
                    style="width:100px">Team B</span>
                  <span class="grey darken-3 white--text d-inline-block py-1 px-4 ">
                    {{ row.setB }}</span>
                  <span class="black white--text d-inline-block py-1 px-4 ">
                    {{ row.resultB }}</span>
                  <v-btn v-if="result.length - 1 === index" :disabled="row.saque === 1"
                    @click="row.resultB += 1;"
                    class="ml-2" icon color="info">
                    <v-icon>mdi-plus</v-icon>
                  </v-btn>
                  <v-btn v-if="result.length - 1 === index" :disabled="row.saque === 1"
                    @click="row.resultB -= 1;"
                    class="ml-2" icon color="error">
                    <v-icon>mdi-minus</v-icon>
                  </v-btn>

                </v-list-item-subtitle>
                <v-list-item-subtitle v-if="result.length - 1 === index" class="mt-4">
                  <v-btn @click="result.pop()" small text color="error">Eliminar</v-btn>
                </v-list-item-subtitle>
              </v-radio-group>
            </v-list-item-content>
          </v-list-item>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="error darken-1" text @click="download()">Descargar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-row>
      <v-col class="text-center display-3 font-weight-bold py-0">
        {{ hoursComputed }}
        <span class="error--text">:</span>
        {{ minutesComputed }}
        <span class="error--text">:</span>
        {{ secondsComputed }}
      </v-col>
    </v-row>
    <v-row>
      <v-col class="text-center py-0">
        <v-btn
          x-large
          v-if="!isRunning || isPause"
          @click="start(); isRunning = true; finish = false;"
          icon
          color="info"
        >
          <v-icon x-large>mdi-play</v-icon>
        </v-btn>
        <v-btn
          x-large
          v-if="isRunning && !isPause"
          icon
          @click="isPause = true;"
          color="info"
        >
          <v-icon x-large>mdi-pause</v-icon>
        </v-btn>
        <v-btn x-large v-if="isRunning" icon @click="isRunning = false; stop()" color="error">
          <v-icon x-large>mdi-stop</v-icon>
        </v-btn>
        <v-btn x-large v-if="isRunning && teamA !== teamB" text color="error" @click="endSet()">
          Terminar set
        </v-btn>
        <v-btn v-if="isPause || finish" text color="info" @click.stop="dialog = true">
          Resultados</v-btn>
      </v-col>
    </v-row>
    <v-radio-group v-model="saque" @change="setRegister()"
      class="d-flex justify-center my-0" style="width: 100%">
      <v-row>
        <v-col class="text-center py-0">
          <v-radio
            class="d-inline-block mr-1 my-0"
            color="info"
            :value="1"
          ></v-radio>
          <span class="grey lighten-3 d-inline-block py-1 px-4 title"
            style="width:200px">Team A</span>
          <span class="grey darken-3 white--text d-inline-block py-1 px-4  title">
            {{ setA }}</span>
          <span class="black white--text d-inline-block py-1 px-4  title">{{ teamA }}</span>
          <v-btn :disabled="saque === 2" v-if="isRunning"
            @click="teamA += 1; saque = 1; setRegister()" class="ml-2" icon color="info">
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="text-center py-0">
          <v-radio
            class="d-inline-block mr-1 my-0"
            color="info"
            :value="2"
          ></v-radio>
          <span class="grey lighten-3 d-inline-block py-1 px-4  title"
            style="width:200px">Team B</span>
          <span class="grey darken-3 white--text d-inline-block py-1 px-4  title">
            {{ setB }}</span>
          <span class="black white--text d-inline-block py-1 px-4  title">{{ teamB }}</span>
          <v-btn :disabled="saque === 1" v-if="isRunning"
            @click="teamB += 1; saque = 2; setRegister()" class="ml-2" icon color="info">
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-radio-group>
  </v-container>
</template>

<script>
export default {
  name: 'Home',
  data() {
    return {
      finish: false,
      dialog: false,
      isRunning: false,
      hours: 0,
      minutes: 0,
      seconds: 0,
      interval: null,
      teamA: 0,
      teamB: 0,
      setA: 0,
      setB: 0,
      saque: 1,
      isPause: false,
      result: [],
      time: 0,
    };
  },
  computed: {
    hoursComputed() {
      return this.fill(this.hours);
    },
    minutesComputed() {
      return this.fill(this.minutes);
    },
    secondsComputed() {
      return this.fill(this.seconds);
    },
  },
  methods: {
    fill(number) {
      if (number < 10) return `0${number}`;
      return number;
    },
    start() {
      if (!this.isPause) {
        if (!this.isRunning) {
          this.result = [];
          this.result.push({
            time: 0,
            resultA: 0,
            resultB: 0,
            saque: this.saque,
            setA: 0,
            setB: 0,
          });
        }
        this.interval = setInterval(() => {
          if (!this.isPause) {
            if (this.seconds === 59) {
              this.seconds = 0;
              if (this.minutes === 59) {
                this.minutes = 0;
                this.hours += 1;
              } else {
                this.minutes += 1;
              }
            } else {
              this.seconds += 1;
            }
            this.time += 1;
          }
        }, 1000);
      } else {
        this.isPause = false;
        this.setRegister();
      }
    },
    stop() {
      clearInterval(this.interval);
      this.interval = null;
      this.hours = 0;
      this.minutes = 0;
      this.seconds = 0;
      this.teamA = 0;
      this.teamB = 0;
      this.setA = 0;
      this.setB = 0;
      this.time = 0;
      this.finish = true;
    },
    endSet() {
      if (this.teamA > this.teamB) this.setA += 1;
      else this.setB += 1;
      this.setRegister();
      this.teamA = 0;
      this.teamB = 0;
    },
    setRegister() {
      if (!this.isPause && this.isRunning) {
        this.result.push({
          time: this.time,
          resultA: this.teamA,
          resultB: this.teamB,
          saque: this.saque,
          setA: this.setA,
          setB: this.setB,
        });
      }
    },
    download() {
      const dataStr = `data:text/json;charset=utf-8,${encodeURIComponent(JSON.stringify(this.result))}`;
      const fileLink = document.createElement('a');
      fileLink.href = dataStr;
      fileLink.setAttribute('download', 'score.json');
      document.body.appendChild(fileLink);
      fileLink.click();
    },
  },
};
</script>
